.box{
display:flex; 
justify-content:space-around;
 align-items: center; 
}
.bod{
 width: 100%; 
 height: 700px;
 border: 2px solid black;  
}
.head{
  height: 35px; 
  border: 5px solid lightgray; 
  margin: 50px;
}
.dd{
 width: 150px;
 height: 150px;  
 border: 10px solid lightgray; 
 margin: 30px;
}